<section class="container" *ngIf="sillonDetail">
  <div class="container-img">
    <img class="container-img__img"  src="{{ sillonDetail.img.url }}" alt="{{ sillonDetail.img.alt }}" />
  </div>
  <div class="container-info">
    <h2 class="container-info__name-sillon">{{ sillonDetail.name }}</h2>
    <span class="container-info__type-sillon">{{ sillonDetail.type }}</span>
    <h4 class="container-info__price-sillon">{{ sillonDetail.price }}</h4>
    <span class="container-info__stock-sillon" *ngIf="sillonDetail.stock != null"> {{ sillonDetail.stock }}</span>
    <p class="container-info___description-sillon">{{ sillonDetail.description }}</p>
  </div>
</section>
