@import '../../../../styles/colors.scss';
@import '../../../../styles/fonts.scss';
@import '../../../../styles/responsive.scss';

* {
    box-sizing: border-box;
}
.container {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include tablet {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

}

.container-img{

    &__img {
        width: 250px;
        color: $fontcolorprimary;
        margin-bottom: 30px;

        @include tablet {
            width: 300px;
        }
    }

    @include tablet {
        width: 300px;
    }
}


.container-info {
    width: 100px;
    justify-content: center;
    align-items: center;
    width: 80%;

    @include tablet {
        width: 30%;
        padding-left: 0px;
        padding-left: 30px;

    }

    &__name-sillon {
        color: $fontcolorprimary;
        font-family: $fonttext;
        font-size: $fontsizetitles;
        margin: 0px;
    }
    &__type-sillon {
        color: $fontcolorprimary;
        font-family: $fonttext;
        font-size: $fontsizetitles;
    }

    &__price-sillon {
        color: $fontcolorprimary;
        font-family: $fonttext;
        font-size: $fontsizetitles;
        margin: 0px;
    }

    &__stock-sillon {
        color: $fontcolorprimary;
        font-family: $fonttext;
        font-size: 15px;
    }

    &___description-sillon {
        color: $fontcolorprimary;
        font-family: $fonttext;
        font-size: 12px;
    }
}