@import '../../../styles/colors.scss';
@import '../../../styles/fonts.scss';
@import '../../../styles/responsive.scss';


.container {
    height: 10vh;
    background-color: $secondarycolor;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: $fonttext;


    &__info {
        margin-right: 10px;
        margin-left: 10px;
    }
}