<header class="header">
    <img class="header__logo" src="../../../assets/img/logo.svg" alt="AVR home">
    <nav class="header__nav">
        <ul class="header__ul">
            <li class="header__link"><a class="header__link-a" [routerLink]="['/list']">List</a></li>
            <li class="header__link"><a class="header__link-a" [routerLink]="['/about']">About</a></li>
            <li class="header__link"><a class="header__link-a" [routerLink]="['/create']">Create</a></li>
        </ul>
    </nav>
</header>