@import '../../../styles/colors.scss';
@import '../../../styles/fonts.scss';
@import '../../../styles/responsive.scss';



.header {
    height: 10vh;
    padding: 0 60px;
    background-color: $secondarycolor;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: $fonttext;

    &__nav {
        margin: 0 auto;
        @include tablet {
            margin: 0;
        }
    }
    &__logo {
        display: none;
        @include tablet {
            display: flex;
            height: 60%;
            margin: 0;
            justify-content: center;
        }
    }
    &__ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        padding: 0px;
        width: 40%;
    }
    &__link {
        list-style: none;
        margin: 0 15px;

    }
    &__link-a {
        text-decoration: none;
        min-width: 15vw;
        font-size: 20px;

        &:hover {
            color: $primarycolor;
        }
    }
}