@import '../../../../../styles/colors.scss';
@import '../../../../../styles/fonts.scss';
@import '../../../../../styles/responsive.scss';
* {
    box-sizing: border-box;
}

.img {
    color: $fontcolorprimary;
    width: 300px;
    margin-bottom: 30px;
    @include tablet {
        width: 600px;
    }
}

.name-sillon {
    color: $fontcolorprimary;
    font-family: $fonttext;
    font-size: $fontsizetitles;
    margin: 0px;
}

.type-sillon {
    color: $fontcolorprimary;
    font-family: $fonttext;
    font-size: $fontsizetitles;
}

.price-sillon {
    color: $fontcolorprimary;
    font-family: $fonttext;
    font-size: $fontsizetitles;
    margin: 0px;
}

.stock-sillon {
    color: $fontcolorprimary;
    font-family: $fonttext;
    font-size: 15px;
}