<img class="img" src="{{ sillonDetail.img.url }}" alt="{{ sillonDetail.img.alt }}" />
<h3 class="name-sillon">{{ sillonDetail.name }}</h3>
<span class="type-sillon">{{ sillonDetail.type }}</span>
<h4 class="price-sillon">{{ sillonDetail.price }}€</h4>
<span class="stock-sillon" *ngIf="sillonDetail.stock != null"> {{ sillonDetail.stock }}</span>
