<section class="about">
    <h2 class="about__title">{{ title }}</h2>
    <div class="about__wrap">
    <article class="about__article" *ngFor='let designer of designers'>
        <img class="about__image" src="{{ designer.img }}" alt="{{ designer.name }}">
        <div class="about__text-wrap">
            <p class="about__name">{{ designer.name }}: {{ designer.alterego }}</p>
            <p class="about__text">{{ designer.description }}</p>
        </div>
    </article>
</div>
</section>