@import '../../../../styles/colors.scss';
@import '../../../../styles/fonts.scss';
@import '../../../../styles/responsive.scss';

.about {
    min-height: 80vh;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: top;
    flex-direction: column;

    &__title {
        font-family: $fonttext;
        text-align: center;
        font-weight: 600;
        font-size: $fontsizetitles;

    }
    &__wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    }
    &__article {
        font-family: $fonttext;
        margin: 3%;
        flex-basis: 20%;
        text-align: center;
        box-shadow: inset 0 -3em 3em rgba(121, 121, 121, 0.1), 0.3em 0.3em 1em rgba(213, 213, 213, 0.3);
        padding: 25px;
    }
    &__image{
        width: 200px;
        height: 200px;
    }
    &__text-wrap{
        padding: 2% 15%;
    }
    &__name{
        font-family: $fonttext;
        font-weight: 600;
        font-size: $fontsizetitles;
        margin-block-end: 0;
        margin-inline-start: 0;
        height: 20%;
    }
    &__text {
        font-size: 15px;
        text-align: center;
        font-weight: 500;
        &::after{
            content: " >>";
            font-size: 18px;
            color: $auxcolor;
        }
        &::before{
            content: "<< ";
            font-size: 18px;
            color: $auxcolor;
        }
    }
}