<main class="main">
    <div class="home" *ngFor="let element of home">
        <h1 class="home__title">{{ element.title }}</h1>
        <p class="home__description"> {{ element.description }}</p>
    </div>
</main>