@import '../../../../styles/colors.scss';
@import '../../../../styles/fonts.scss';
@import '../../../../styles/responsive.scss';
.main {
    color: $fontcolorprimary;
    text-align: center;
    background-color: $primarycolor;
    .home {
        background-image: url('https://images.unsplash.com/photo-1449247709967-d4461a6a6103?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=3500&q=80');
        background-position: bottom;
        background-size: cover;
        background-repeat: no-repeat;
        height: 80vh;
        padding: 120px 40px 0 40px;

¡
        &__title {
            font-family: $fonttitle;
            font-weight: 100;
            font-size: 45px;
            margin: 0;
            @include tablet {
                font-size: 50px;
            }
            @include desktop {
                font-size: 70px;
            }
            &:hover {
                animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
                transform: translate3d(0, 0, 0);
                backface-visibility: hidden;
                perspective: 1000px;
                cursor: pointer;
            }
            @keyframes shake {
                10%,
                90% {
                    transform: translate3d(-1px, 0, 0);
                }
                20%,
                80% {
                    transform: translate3d(2px, 0, 0);
                }
                30%,
                50%,
                70% {
                    transform: translate3d(-4px, 0, 0);
                }
                40%,
                60% {
                    transform: translate3d(4px, 0, 0);
                }
            }
        }
        &__description {
            font-family: $fonttext;
            font-size: 17px;
            font-weight: 300;
            margin: 20px 0;
            @include tablet {
                font-size: 20px;
            }
            @include desktop {
                font-size: 25px;
            }
        }
    }
}