@import '../../../../styles/colors.scss';
@import '../../../../styles/fonts.scss';
@import '../../../../../src/styles/responsive.scss';

* {
    box-sizing: border-box;
}

.title {
    font-family: $fonttext;
    font-size: $fontsizetitles;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    font-weight: 600;
}

.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;

    &___carditem {
        width: 150px;
        height: 100px;
        display: flex;
        flex-direction: row;
    }
    &__products {
        margin: 20px;
        padding: 40px;
        box-shadow:
        inset 0 -3em 3em rgba(203, 203, 203, 0.1),

    }
}


