<section class="list">
    <h2 class="title">{{ title }}</h2>
    <article class="list__products" *ngFor='let sillonDetail of sillones'>
        <app-list-card class="list_carditem" [sillonDetail]="sillonDetail" [routerLink]="['/detail', sillonDetail.id]"></app-list-card>
    </article>
</section>