<section class="create">
    <h2 class="create__title">{{ title }}</h2>
    <form novalidate (ngSubmit)="onSubmit()" [formGroup]="createSillon" class="create__form">
        <fieldset class="form-fieldset">
            <label class="label" for="name">Nombre del diseño: </label>
            <input class="input" type="text" id="name" formControlName="name">
            <div class="error-message" *ngIf="(!createSillon.get('name')?.valid && createSillon.get('name')?.dirty) || okey">
                <span class="error-message__text">¡Este nombre no mola!</span>
            </div>
        </fieldset>

        <fieldset class="form-fieldset">
            <label class="label" for="type">Tipo de sillón: </label>
            <input class="input" type="text" id="type" formControlName="type">
            <div class="error-message" *ngIf="(!createSillon.get('type')?.valid && createSillon.get('type')?.dirty) || okey">
                <span class="error-message__text">¡Este tipo no es cool!</span>
            </div>
        </fieldset>

        <fieldset class="form-fieldset">
            <label class="label" for="price">Precio: </label>
            <input class="input" type="number" id="price" formControlName="price">
            <div class="error-message" *ngIf="(!createSillon.get('price')?.valid && createSillon.get('price')?.dirty) || okey">
                <span class="error-message__text">¡Ups! Recuerda que tu precio incluye nuestra comisión.
                    <span class="error-message__text--small">Precio por diseño para AVR Design *50€</span>
                </span>
            </div>
        </fieldset>

        <fieldset class="form-fieldset">
            <label class="label" for="url">Url de tu diseño: </label>
            <input class="input" type="text" id="url" formControlName="url">
            <div class="error-message" *ngIf="(!createSillon.get('url')?.valid && createSillon.get('url')?.dirty) || okey">
                <span class="error-message__text">¡Solo aceptamos URL!</span>
            </div>
        </fieldset>

        <fieldset class="form-fieldset">
            <label class="label" for="alt">¡Describe tu diseño! </label>
            <input class="input" type="text" id="alt" formControlName="alt">
            <div class="error-message" *ngIf="(!createSillon.get('alt')?.valid && createSillon.get('alt')?.dirty) || okey">
                <span class="error-message__text">¡Pon algo bonito!</span>
            </div>
        </fieldset>

        <button class="btn-form" type="submit" [disabled]='!createSillon.valid'>¡Ready!</button>
        <span class="final-message-form" *ngIf="okey == true">Gracias por enviar tu propuesta</span>
    </form>
</section>