@import '../../../../styles/colors.scss';
@import '../../../../styles/fonts.scss';
@import '../../../../styles/responsive.scss';
.create {
    min-height: 80vh;
    padding: 20px;
    &__title {
        font-family: $fonttext;
        text-align: center;
        font-weight: 600;
        font-size: $fontsizetitles;
    }
    &__form {
        font-family: $fonttext;
        border: 1px solid $fontcolorprimary;
        border-radius: 10px;
        padding: 20px;
        @include tablet {
            width: 70%;
            margin: 0 auto;
        }
        @include desktop {
            width: 30%;
            margin: 0 auto;
        }
        .form-fieldset {
            display: flex;
            flex-direction: column;
            background-color: $primarycolor;
            padding: 20px 10px;
            border: 0;
            .label {
                font-size: 15px;
                text-align: center;
                margin-bottom: 10px;
                font-weight: 500;
            }
            .input {
                text-align: center;
                font-weight: 600;
                border: 0;
                border-bottom: 1px solid $fontcolorprimary;
                &:focus {
                    background-color: $secondarycolor;
                }
                @include tablet {
                    width: 70%;
                    margin: 0 auto;
                }
                @include desktop {
                    width: 60%;
                    margin: 0 auto;
                }
            }
            .error-message {
                text-align: center;
                margin-top: 10px;
                &__text {
                    display: flex;
                    flex-direction: column;
                    color: $dangercolor;
                    font-weight: 700;
                    &--small {
                        font-size: 12px;
                        font-weight: 500;
                        margin-top: 10px;
                    }
                }
            }
        }
        .btn-form {
            display: block;
            margin: 0 auto;
            border: 2px solid $auxcolor;
            background-color: $auxcolor;
            padding: 10px 40px;
            border-radius: 16px;
            text-transform: uppercase;
            color: $primarycolor;
            font-weight: 700;
            &:hover {
                background-color: $primarycolor;
                color: $auxcolor;
                cursor: pointer;
            }
        }
        .final-message-form {
            margin-top: 20px;
            text-align: center;
            display: flex;
            flex-direction: column;
            font-size: 16px;
            font-weight: 500;
        }
    }
}